.button {
  background-color: var(--color-black);
  color: var(--color-primary);       
  border-radius: 8px;                
  font-family: "Poppins", sans-serif; 
  padding: 10px 16px;
  border: none;
  font-weight: 600;
  cursor: pointer;                    
  transition: opacity 0.2s ease-in-out;
}

.button:hover {
  opacity: 0.9;
}
.feedbackButton {
  background-color: #121212; 
  color: #34c94b; 
  border: none;
  border-radius: 10px; 
  padding: 10px 20px; 
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  cursor: pointer;
  width: fit-content; 
}