.button {
  background-color: var(--color-black);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 8px; /* Required */
  padding: 12px 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  cursor: pointer; /* Pointer on hover */
  transition: 0.3s;
}

.button:hover {
  opacity: 0.8;
}