.navbar {
  width: 100%;
  height: 74px;
  background-color: var(--color-primary);
  display: flex;
  align-items: center; /* Test Case 2: Vertically centered */
  justify-content: space-between;
  padding: 0px 20px; /* Space to the left and right */
  box-sizing: border-box;
}