.wrapper {
  position: relative;
  width: 100%;
}


.slide {
  width: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftNavigation,
.rightNavigation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.leftNavigation {
  left: 0;
}

.rightNavigation {
  right: 0;
}


.leftNavigation svg,
.rightNavigation svg {
  width: 30px;
  height: 30px;
}