.sectionWrapper {
  padding: 0px 32px; 
  margin-bottom: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h3 {
  color: var(--color-white);
  font-weight: 600;
  font-size: 20px;
}

.toggleText {
  color: var(--color-primary); 
  cursor: pointer;
  font-weight: 600;
}
.cardWrapper {
  display: flex;
  flex-wrap: wrap; 
  gap: 40px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 20px;
}
.gridWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(159px, 1fr));
  gap: 40px; 
  row-gap: 80px; 
  width: 100%;
}
.tabs {
  margin-bottom: 25px;
}

.tab {
  color: #ffffff !important;
  text-transform: none !important;
  font-family: "Poppins" !important;
  font-weight: 600 !important;
}


.tab[aria-selected="true"] {
  color: #34c94b !important;
}
.tabs {
  margin-bottom: 25px;
}

.tab {
  color: #ffffff !important;
  text-transform: none !important;
  font-family: "Poppins" !important;
  font-weight: 600 !important;
  font-size: 16px !important;
}


.tab.Mui-selected {
  color: #34c94b !important;
}