.wrapper {
  display: flex;
  align-items: center;
  width: 568px;
  position: relative;
}

.search {
  width: 100%;
  height: 48px;
  border-radius: 8px 0px 0px 8px; /* Rounded only on the left */
  border: 1px solid var(--color-black);
  padding-left: 15px;
  outline: none;
}

.searchButton {
  width: 66px;
  height: 48px;
  border-radius: 0px 8px 8px 0px; /* Rounded only on the right */
  border: 1px solid var(--color-black);
  border-left: none;
  background-color: var(--color-white);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}